* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    place-items: center;
    background-color: rgba(18, 77, 10, 0.685);
}

.navbar {
    text-align: center;
    color: rgba(35, 100, 27, 0.685);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:underline;
    font-size: 2rem;
    font-weight: 350; 
    padding-inline: 50px;
}

.heading {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 3.5rem;
    font-weight: 500;
    padding: 20px;
}

.lesson {
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.cards {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.0em;
}

.card {
    border-radius: 30px;
    display: grid;
    background-color: rgb(43, 214, 226);
    cursor: pointer;
    transition: 0.3s all ease;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 90%;
    border-radius: 30px;
    align-items: center;
    opacity: 0;
    transition: 0.3s all ease;
}

.card.clicked {
    background-color: white;
}

.card.checked {
    background-color: greenyellow;
}

.card.checked img, 
.card.clicked img {
    opacity: 1;
}


.card.shake {
    background-color: #f15f5f;
    animation: shake 0.5s;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }  

    }
    .actions {
        display: flex;
        justify-content:center;
    }

    p {
        color: white;
        font-weight: bolder;
        font-size: 40px;
        text-decoration: underline;
    }
    
    .mb-1 {
        padding-left:20px;
        padding-right: 20px;
    }